@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corPrimaria: #000;
    --braco: #FFF;
    --roxo: #4A4277;
    --vermelho: #cf0808;
    --verde: #00BF62;
    --fonteP: 'Inter', Arial, sans-serif;
}

body{
    background-color: var(--corPrimaria);
    color: var(--braco);
    font-family: var(--fonteP);
}

.logo img{
    width: 30%;
    margin-left: 36%;
    margin-top: 2%;
}

    .video-wrapper {
        position: relative;
        width: fit-content;
        margin: auto;
    }
    .video {
        display: block;
        border-radius: 5px;
    }
    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: none; /* Esconda o botão inicialmente, pois o vídeo será reproduzido automaticamente */
    }
    .play-button::before {
        content: '';
        display: block;
        border-style: solid;
        border-width: 20px 0 20px 35px;
        border-color: transparent transparent transparent white;
    }

.descVideo{
    color: var(--braco);
    font-family: var(--fonteP);
    width: 70%;
    margin-left: 15%;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}


.imagem01 {
    position: relative;
    margin-bottom: 15%;
}

.imagem01 .main-image {
    width: 50%;
    margin-left: 50%;
    margin-top: 2%;
}

.imagem01 .logo {
    position: absolute;
    left: 14%; /* Ajuste esta propriedade conforme necessário */
    top: 30%; /* Ajuste esta propriedade conforme necessário */
    transform: translateY(-50%);
    width: 30%;
}

.imagem01 h1{
    position: absolute;
    background-color: var(--roxo);
    width: 40%;
    border-radius: 8px;
    margin-left: 8%;
    cursor: pointer;
    top: 90%;
    padding: 1%;
    padding-left: 1.5%;
    color: var(--braco);
}

.imagem01 h1:hover {
    box-shadow: 5px 5px 5px rgba(141, 136, 136, 0.5); /* Adiciona sombra suave */
}


.imagem01 p{
    position: absolute;
    top: 55%;
    left: 8%;
    font-size: 20px;
}

.imagem01 .texto{
    font-weight: bold;
    left: 5%;
}

.imagem01 .oportunidade{
    top: 65%;
    left: 17%;
}

.imagem01 .valor{
    top: 72%;
    text-decoration: line-through;
    color: var(--vermelho);
    left: 23%;
}

.imagem01 .valor2{
    top: 78%;
    color: var(--verde);
    font-weight: bold;
    left: 19.5%;
    font-size: 25px;
}

.print p{
    font-size: 180%;
    font-weight: bold;
    margin-left: 20%;
    width: 60%;
    padding: 0.7%;
    padding-left: 2%;
    border-radius: 5px;
}


.print .imagem1{
    width: 20%;
    margin-top: 2%;
    margin-left: 4.5%;
}

.print .imagem2{
    width: 24.5%;
    margin-right: 2%;
    margin-left: 2%;
}

.print .imagem3{
    width: 21.15%;
    margin-right: 2%;
}

.print .imagem4{
    width: 18%;
}

.QuemEu{
    position: relative;
    margin-bottom: -2%;

}

.QuemEu h1{
    margin-top: 15%;
    margin-left: 28%;
    margin-bottom: -5%;
}

.QuemEu img{
    width: 50%;
    margin-left: 50%;
    margin-top: 5%;
}

.QuemEu p{
    width: 50%;
    margin-top: -28%;
    margin-bottom: 20%;
    font-size: 180%;
    margin-left: 9%;
}


.perguntas{
    margin-left: 33%;
    margin-bottom: 5%;
    font-size: 180%;
}







.pergEres {
    width: 50%;
    margin: auto;
}

.question {
    background-color: transparent; /* Cor de fundo da caixa */
    padding: 2%;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5%; /* Espaço entre as caixas */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.answer {
    display: none;
    padding: 2%;
    background-color: transparent; /* Cor de fundo da resposta */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: -5%; /* Para alinhar com a borda inferior da pergunta */
    margin-bottom: 5%; /* Espaço inferior */
}

.arrow {
    font-size: 1.2em;
    margin-left: 10px; /* Espaço entre a pergunta e a seta */
}

.final img{
    margin-top: 5%;
    margin-left: 29%;
    margin-bottom: 3%;
}


.botao h1 {
    background-color: var(--roxo);
    padding: 2%;
    width: 60%;
    cursor: pointer;
    border-radius: 8px;
    padding-left: 4%;
    color: var(--braco);
    margin-left: 20%;
}


.botao p{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 4%;
}


@media screen and (max-width: 768px) {
    .logo img {
        width: 50%;
        margin-left: 25%;
    }
    .descVideo {
        width: 90%;
        margin-left: 5%;
        font-size: 18px;
    }
    .imagem01 .main-image {
        width: 70%;
        margin-left: 15%;
    }
    .imagem01 .logo {
        width: 40%;
        left: 10%;
        top: 20%;
    }
    .imagem01 h1 {
        width: 60%;
        margin-left: 20%;
    }
    .imagem01 p {
        left: 10%;
        font-size: 18px;
    }
}

/* Estilos para telas menores (telefones) */
@media screen and (max-width: 480px) {
    .logo img {
        width: 60%;
        margin-left: 30%;
    }

    .video-wrapper video{
        width: 100%;
        margin-left: 7.5%;
    }

    .play-button{
        display: none;
        width: 0%;
    }

    .descVideo {
        width: 100%;
        margin-left: 9%;
        font-size: 14px;
        margin-top: 2%;
        margin-bottom: 15%;
    }

    .imagem01 .main-image {
        width: 70%;
        margin-left: 40%;
        margin-top: -5%;
    }

    .imagem01 .logo {
        width: 50%;
        left: 2%;
        top: 55%;
    }


    .imagem01 h1 {
        width: 90%;
        padding: 2%;
        padding-left: 6%;
        margin-left: 10%;
        font-size: 18px;
        margin-top: 50%;
    }

    .imagem01 p {
        width: 70%;
        margin-top: 30%;
    }

    .imagem01 .texto{
        font-size: 90%;
        width: 80%;
        margin-left: 10%;
    }

    .imagem01 .oportunidade{
        margin-top: 35%;
        margin-left: 10%;
    }

    .imagem01 .valor{
        margin-top: 40%;
        margin-left: 22%;
    }

    .imagem01 .valor2{
        margin-top: 42%;
        margin-left: 14%;
    }

    .print{
        margin-top: 75%;
        margin-left: 15%;
    }

    .print p{
        width: 115%;
        font-size: 85%;
        margin-bottom: 2%;
        margin-left: -2%;
    }

    .print .imagem1{
        width: 80%;
        margin-bottom: 5%;
        margin-left: 12%;
    }

    .print .imagem2{
        width: 80%;
        margin-bottom: 5%;
        margin-left: 12%;
    }

    .print .imagem3{
        width: 80%;
        margin-left: 5%;
        margin-bottom: 10%;
        margin-left: 12%;
    }

    .print .imagem4{
        width: 80%;
        margin-bottom: 10%;
        margin-left: 12%;
    }

    .QuemEu h1{
        font-size: 120%;
        margin-left: 14%;
        width: 80%;
    }

    .QuemEu img{
        width: 80%;
        margin-left: 17%;
        margin-bottom: 35%;
    }

    .QuemEu p{
        font-size: 110%;
        margin-left: 20%;
        width: 80%;
    };

    .perguntas h2{
        font-size: 90%;
        margin-left: 5%;
    }

    .pergEres {
        width: 90%;
        margin-left: 12%;
    }

    .final img{
        width: 70%;
        margin-top: 17%;
        margin-left: 25%;
    }


    .botao h1{
        width: 100%;
        font-size: 110%;
        margin-left: 10%;
    }

    .botao p{
        font-size: 65%;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
    }
}